<form [formGroup]='registerForm' (ngSubmit)="register()" autocomplete="off" action="">
<h2 class="text-center text-primary">Sign Up</h2>
<hr/>
<div class="form-group">

    <input
    [class.is-invalid]='registerForm.get("username").errors
    && registerForm.get("username").touched'
    type="text" formControlName="username" placeholder="Username" 
     class="form-control">
     <div class="invalid-feedback">Please enter a Username</div>
</div>
  
<div class="form-group">
    <input
    [class.is-invalid]='registerForm.get("password").errors
    && registerForm.get("password").touched'
 
    type="password" name="password" placeholder="Password" 
    formControlName="password" class="form-control">
    <div *ngIf="registerForm.get('password').hasError('required')"
     class="invalid-feedback">Please enter a Password</div>
     <div *ngIf="registerForm.get('password').hasError('minlength')"
     class="invalid-feedback">Password must be at least 4 characters</div>
     <div *ngIf="registerForm.get('password').hasError('maxlength')"
     class="invalid-feedback">Please must be at most 8 characters</div>
</div>

<div class="form-group">
    <input
    [class.is-invalid]='registerForm.get("confirmPassword").errors
    && registerForm.get("confirmPassword").touched'
 
    type="text" name="password" placeholder="confirm Password" 
    formControlName="confirmPassword" class="form-control">
    <div *ngIf="registerForm.get('confirmPassword').hasError('required')"
    class="invalid-feedback">Please enter a Confirm Password</div>
   
    <div *ngIf="registerForm.get('confirmPassword').hasError('minlength')"
    class="invalid-feedback">Password must be at least 4 characters</div>
   
    <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')"
    class="invalid-feedback">Confirm Password must match Password</div>
   
</div>

<div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-success mr-2" (click)="cancel()" type="button">Cancel</button>
</div>


</form>

<p>Form Value: {{registerForm.value | json}}</p>
<p>Form Status: {{registerForm.status | json}}</p>
